%p{style: "color:green"}=flash[:notice]

%div
  %p DSL
  %p=h(@repo)
  %p=h(@repo.uri) if @repo.uri

%table{border: "1"}
  %tbody
    %tr
      %td
        %strong Input
      %td
        %form{ action: "", method: "post"}
          %textarea{name: "script", :class => "text", cols: "80", rows: "20"}=@script
          %input{:type => "submit", :value => "Send", :class => "button"}


%table{border: "1"}
  %tbody
    %tr
      %td
        %a{:href => "/repository"} Repository
      %td
        %a{:href => "/query"} Query