%p{style: "color:green"}=flash[:notice]
%div
  %h2 Import RDF

%p
  %form#input_form{ action: "", method: "post", enctype: 'multipart/form-data'}
    %p
      %strong Enter RDF
      %br
      %textarea{name: "rdf_string", :class => "text", cols: "80", rows: "20"}=@rdf
      %br
      Format
      %br
      %select{:form => "input_form", :name => "rdf_format"}
        %option{:value => "ttl"} Turtle / N3
        %option{:value => "rdfxml"} RDF-XML

    %p
      %strong Or Upload a File
      %br
      %input{type: "file", name: "upload_file"}

    %p
      %input{:type => "submit", :value => "Import", :class => "button"}

%p
  %table{border: "1"}
    %tbody
      %tr
        %td
          %a{:href => "/repository"} Repository
        %td
          %a{:href => "/dsl"} DSL
        %td
          %a{:href => "/query"} Query