%div
  %p Query Repository
  %p=h(@repo)
  %p=h(@repo.uri) if @repo.uri

%table{border: "1"}
  %tbody
    %tr
      %td
        %strong Query
      %td
        %form{ action: "", method: "post"}
          %textarea{name: "query", :class => "text", cols: "80", rows: "20"}=@query
          %input{:type => "submit", :value => "Send", :class => "button"}
    %tr
      %td
        %strong Results
      %td
        %p=@result


%table{border: "1"}
  %tbody
    %tr
      %td
        %a{:href => "repository"} Repository
      %td
        %a{:href => "dsl"} DSL