%p{style: "color:green"}=flash[:notice]

%div
  %strong Repo
  %p=h(@repo)
  %p
    %a{href: '/repository/new'} New

- if @repo
  %p
    Size:
    = "#{@repo.size} Triples"
  %p
    %a{href: 'repository/import'} Import
    %a{href: 'repository/dump'} Export
    %a{href: 'repository/clear'} Clear

%br
%table{border: "1"}
  %tbody
    %tr
      %td
        %a{:href => "/query"} Query
      %td
        %a{:href => "/dsl"} DSL